back/*
!back/Dockerfile
!back/Dockerfile.prod
!back/docker_data

db/*
!db/Dockerfile
!db/Dockerfile.prod
!db/docker_data

front/*
!front/Dockerfile
!front/Dockerfile.prod
!front/docker_data

nginx/*
!nginx/Dockerfile
!nginx/Dockerfile.prod
!nginx/docker_data