back/*
!back/Dockerfile
!back/Dockerfile.prod
!db/Docker

db/*
!db/Dockerfile
!db/Dockerfile.prod
!db/Docker

front/*
!front/Dockerfile
!front/Dockerfile.prod
!front/Docker

nginx/*
!nginx/Dockerfile
!nginx/Dockerfile.prod
!nginx/Docker